<div class="card shadow-sm p-4">
  <h4 class="mb-4">Add New Service for {{ providerUsername }}</h4>

  <form [formGroup]="serviceForm" (ngSubmit)="submitService()">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" formControlName="title" />
      <div *ngIf="serviceForm.get('title')?.touched && serviceForm.get('title')?.invalid" class="text-danger">
        Title is required.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" rows="3" formControlName="description"></textarea>
      <div *ngIf="serviceForm.get('description')?.touched && serviceForm.get('description')?.invalid" class="text-danger">
        Description is required.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Price per hour</label>
      <input type="number" class="form-control" formControlName="price" />
      <div *ngIf="serviceForm.get('price')?.touched && serviceForm.get('price')?.invalid" class="text-danger">
        Price must be 0 or higher.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Duration in hours</label>
      <input type="number" class="form-control" formControlName="duration" />
      <div *ngIf="serviceForm.get('price')?.touched && serviceForm.get('price')?.invalid" class="text-danger">
        duration must be 1 or higher
      </div>
    </div>

  <div class="mb-3">
  <label class="form-label">Category</label>
  <select class="form-select" formControlName="categoryId">
    <option value="">Select a category</option>
    <option value="1">Cleaning</option>
    <option value="2">Plumbing</option>
    <option value="3">Tutoring</option>
    <option value="5">Hairdressing</option>
    <option value="6">IT Support</option>
    <option value="7">Carpentry</option>
    <option value="8">Moving Services</option>
  </select>
  <div *ngIf="serviceForm.get('category')?.touched && serviceForm.get('category')?.invalid" class="text-danger">
    Category is required.
  </div>
</div>

    <div class="d-grid">
      <button type="submit" class="btn btn-success" [disabled]="serviceForm.invalid">
        Add Service
      </button>
    </div>
  </form>
</div>
