<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="container mt-5" enctype="multipart/form-data">
    <h2 class="mb-4">Sign up as a seeker</h2>
  
    <div class="mb-3">
      <label for="fullName" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="fullName" formControlName="fullName">
    </div>
  
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
    </div>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
  
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
  

  
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" id="location" formControlName="location">
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">finish signing up</button>
  </form>