<div class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">{{ service.title || 'Untitled Service' }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ service.category || 'No Category' }}</h6>
    <p class="card-text">{{ service.description || 'No description available.' }}</p>

    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        <strong>Price:</strong>
        @if(updateMode){
          <input type="number"  [(ngModel)]="service.price" class="d-inline w-auto form-control">
        }
        @else{
          {{ service.price ? ('$' + service.price) : 'Not specified' }}
        }
      </li>
    </ul>
<div class="d-flex justify-content-between gap-2 flex-wrap">
  <button class="btn btn-primary flex-fill" (click)="deleteSelf()">Delete this service</button>
  <button class="btn btn-primary flex-fill" (click)="updatePrice()">Update price</button>
</div>

  </div>
</div>
