<app-header></app-header>
<router-outlet></router-outlet>
<footer class="bg-light text-dark mt-5 border-top">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Service Connect</h5>
        <p>Your trusted platform to connect with skilled service providers near you.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-dark text-decoration-none">About Us</a></li>
          <li><a href="/contact" class="text-dark text-decoration-none">Contact</a></li>
          <li><a href="/faq" class="text-dark text-decoration-none">FAQ</a></li>
          <li><a href="/terms" class="text-dark text-decoration-none">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <a href="#" class="text-dark me-2"><i class="bi bi-facebook"></i> Facebook</a><br>
        <a href="#" class="text-dark me-2"><i class="bi bi-twitter"></i> Twitter</a><br>
        <a href="#" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a>
      </div>
    </div>
    <div class="text-center mt-3">
      <small>&copy; 2025 Service Connect. All rights reserved.</small>
    </div>
  </div>
</footer>
