<div class="container mt-4">
    <h3 class="mb-4 text-center text-primary">My Schedule Slots - {{ username }}</h3>
    @for(slot of slots;track slot.id){
      <app-schedule-slot-card (deleted)="handleDeleted($event)" [slot]="slot"></app-schedule-slot-card>
    }
    <button type="button" class="btn btn-secondary mt-2" (click)="addSlotForm()">Add More Slots</button>
    @if(showForm){
      <app-schedule-slot-form (newSlot)="addNewSlot($event)" (makeSelfInvisible)="removeForm()"></app-schedule-slot-form>
    }
  </div>
  