<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Schedule Slot</h5>

    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        <strong>Start Time:</strong> {{ slot.startTime }}
      </li>
      <li class="list-group-item">
        <strong>End Time:</strong> {{ slot.endTime }}
      </li>
      <li class="list-group-item">
        <strong>Day of Week:</strong> {{ slot.dayOfWeek }}
      </li>
      <li class="list-group-item">
        <strong>Status:</strong> {{ slot.status }}
      </li>
      <li class="list-group-item">
        <strong>Created At:</strong> {{ slot.created_at }}
      </li>
    </ul>

    <button class="btn btn-danger w-100" (click)="handleDelete()">Delete this slot</button>
  </div>
</div>
